<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href="{{ url_for('static', filename='sticky_footer.css') }}">
    <title>Matcha</title>
</head>
<body>
    <body>
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="position: relative;"><!--HeRE!-->
              <a class="navbar-brand"  style='font-size: 1.8em' href="{{ url_for('index') }}">
                <img src="https://cdnimg.rg.ru/img/content/165/77/79/Koshka_Natalia_Seliverstova_RIA_d_850.jpg" height='50' class="d-inline-block align-center" alt="">
                Matcha
              </a>
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active" style="display: inline-block;">
                    <a class="nav-link" style='font-size: 1.5em;' href="{{ url_for('profile') }}">Profile</a>
                  </li>
                  <li class="nav-item active" style="display: inline-block;">
                    <a class="nav-link" style='font-size: 1.5em;' href="{{ url_for('matches') }}">Matches</a>
                  </li>
                </ul>
                <a href="" id='notification_button' class="btn btn-primary" style='margin-right: 20px;'>
                  Notifications <span class="badge badge-light" id="notifications_count">0</span>
                </a>
                <form class="form-inline mt-2 mt-md-0" action="{{ url_for('logout') }}" style="display: inline-block;" method="POST">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
                </form>
            </nav>
          </header>
          <!-- Begin page content -->
          {% block filter %}
          {% endblock %}

          {% block content %}
          {% endblock %}
          <!--footer-->
          <div style='position: absolute; bottom: 0; width: 100%; text-align: center;'>
            <footer>&copy; sprestay</footer>
        </div>
        </footer>
</body>
</html>

<script>
  setInterval(() => $.ajax({type:'POST', url:"{{ url_for('update_date') }}", dataType:'text', success: function(time){ if (time=='ok')
                                                                                                      {console.log('Time was succesfully updated')}
                                                                                                      else {console.log('Error happend in time_updating')}}}), 60000);

function set_notifications(data){
  msg = JSON.parse(data)
  document.getElementById("notifications_count").innerText = msg[0]
  if (msg[1] != null){
    if (msg[1][1] == 'msg'){
      $("#notification_button").attr("href", "user_page/" + msg[1][0])
    } else if (msg[1][1] == 'checked' || msg[1][1] == 'liked') {
      $("#notification_button").attr("href", "{{ url_for('profile') }}")
    } else {
      $("#notification_button").attr("href", "{{ url_for('matches') }}")
    }
  }
}

$.ajax({ url: "{{ url_for('show_notifications') }}", type: "POST", success:  function(data) {set_notifications(data);}})

setInterval(() => $.ajax({ url: "{{ url_for('show_notifications') }}", type: "POST", success: function(data){set_notifications(data);}}), 5000);
        
window.onload = function getLocation() {
  var re = new RegExp("already=dont_show_again")
  if (navigator.geolocation && !re.test(document.cookie)) {
    navigator.geolocation.getCurrentPosition(showPosition, error_in_geo);
  } else {
    console.log("Этот браузер не может определять местоположение или мы уже их показывали");
  }
}
function error_in_geo() {
  document.cookie = "already=dont_show_again"
  $.ajax({
    type: "POST", 
    url: "{{ url_for('set_location') }}",
    dataType: "text",
    data: {
      "deny": true,
    },
    success: function(data){
      if (data =="ok"){
        console.log("Looking for ip")
      } else {
        console.log("Can`t find you!")
      }
    }
  });
}

function showPosition(position) {
  document.cookie = "already=dont_show_again"
  $.ajax({
    type: "POST",
    dataType: "text",
    url: "{{ url_for('set_location') }}",
    data: {
      'lat': position.coords.latitude,
      'lon': position.coords.longitude,
    },
    success: function(data){
      if (data=="ok"){
        console.log("success send lat, lon")
      } else {
        console.log("fail in geocoding")
      }
    }
  });
}

function escape(string) {
    var htmlEscapes = {
        '&': '&amp;',
        '<': '&lt;',
        '>': '&gt;',
        '"': '&quot;',
        "'": '&#39;'
    };

    return string.replace(/[&<>"']/g, function(match) {
        return htmlEscapes[match];
    });
}
</script>
{% block script %}
{% endblock %}