{% extends 'base.html' %}

{% block content %}
{% if users %}
    <div class="album py-5 bg-light" style='display: inline;'> <!--Вставка!-->
        <div class="container">
          <div class="row">
        {% for user in users %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="img"><img src="{{ url_for('static', filename='photos') ~ '/' ~ user.photo }}" class="img-fluid" alt="Responsive image"></div>
              <div class="card-body">
                <p class="card-text" style='font-size: xx-large; display: inline;'><b>{{ user.first_name }}</b>, {{ user.age }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{ url_for('user_page', member=user.id) }}" class="btn btn-primary stretched-link">View</a>
                    <!-- <a href="#" class="btn btn-secondary stretched-link">Like</a> -->
                  </div>
                  <p>{{ user.distance }} km from you</p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
        </div>
        </div>
        {% else %}
        <h1> No users on your filters </h1>
    {% endif %}
    <div id='map' style=" width: 100%; height: 400px;"></div>
{% endblock %}


{% block script %}
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_&callback=initMap"
    async defer></script>
<script>
    function initMap(){
        var element = document.getElementById('map')
        var options = {
            zoom: 8,
            center: {lat: {{ g.user.coords[0] }}, lng: {{ g.user.coords[1] }} }
        }
        var myMap = new google.maps.Map(element, options)

        {% for i in users %}
            marker = addmarker({{ i.coords[0] }}, {{ i.coords[1] }})
            var infoMap = new google.maps.InfoWindow({
                content: "<img src='" + "{{ url_for('static',filename='photos') ~ '/' ~ i.photo }}" +  "' style='width:100%; max-width:100px'>" + "<h5>" + "{{ i.first_name }}" + "</h5>"
            });
            infoMap.open(myMap, marker);
        {% endfor %}
    function addmarker(lt, lon){
            var marker = new google.maps.Marker({
            position: {lat: lt, lng: lon},
            map: myMap
            });
            return marker;
        }
    }
</script>
{% endblock %}
