{% extends 'base.html' %}


{% block content %}
<p style="font-size: xx-large; color: grey; text-align: center;">Hello {{ g.user.first_name }}</p>
<button id='reg' class="btn btn-lg btn-primary btn-block" style="width: 20%; margin-left: 40%;" onclick='show_ajax_history()'>SHOW VISIT HISTORY</button>
<button class="btn btn-lg btn-primary btn-block" onclick="show_account_info()" style="width: 20%; margin-left: 40%;">Change Account info</button>
<button class="btn btn-lg btn-primary btn-block" onclick="show_profile_info()" style="width: 20%; margin-left: 40%;">Change Profile info</button>

<div id="account_settings_block" style="display: none;">
<form class="form-signin" id='account_info' style='padding-top: 10px;' method='POST' action=''>
    {% if session['update_email_was_send'] %}
    <p style='text-align: center; color: green;'><b>Verification message was send to your email<br>Your email will change as soon as you confirm it</b></p>
    {% endif %}
    <p style='font-size: x-large; text-align: center;'>Just fill out what you want to change</p>
    <div class="form-label-group">
        <input type="text" class='form-control' style="width: 30%; margin-left: 35%;" onblur="ajax_check(this)" id='username' placeholder='Your unique username' name="username">
        <div style='text-align: center;' id=dusername></div>
      </div>
      <div class="form-label-group">
        <input type="text" class='form-control' style="width: 30%; margin-left: 35%;" onblur="ajax_check(this)" id='inputFirst' name="first_name" placeholder="First name">
        <div style='text-align: center;' id=dinputFirst></div>
      </div>
      <div class='form-label-group'>
        <input type='text' class='form-control' style="width: 30%; margin-left: 35%;" onblur="ajax_check(this)" id='inputSecond' name='second_name' placeholder="Second name">
        <div style='text-align: center;' id=dinputSecond></div>
      </div>
      <div class='form-label-group'>
        <input type="email" id="inputEmailR" style="width: 30%; margin-left: 35%;" onblur="ajax_check(this)" class="form-control" name='email' placeholder="Email address">
        <div style='text-align: center;' id=dinputEmailR></div>
      </div>
      <div class='form-label-group'>
        <input type="password" id="inputPassword1" style="width: 30%; margin-left: 35%;" onblur="ajax_check(this)" name='password' class="form-control" placeholder="Password">
        <div style='text-align: center;' id=dinputPassword1></div>
      </div>
      <div class='form-label-group'>
        <input type="password" id="inputPassword2" style="width: 30%; margin-left: 35%;" onblur="ajax_check(this)" name='password2' class="form-control" placeholder="Confirm password">
        <div style='text-align: center;' id=dinputPassword2></div>
      </div>
      <button class="btn btn-lg btn-primary btn-block" id='update_start' disabled='disabled' style='width: 10%; margin-left: 45%; margin-top: 10px;'>Confirm</button>
</form>
  </div>
<input type="hidden" id="hidden_gender" value="{{ g.user.gender }}">
<input type="hidden" id="hidden_orient" value="{{ g.user.orient }}">
  <div id="profile_settings_form" style="text-align: center;"><!--HERE-->
<form class="form-signin" id='profile_info' style='padding-top: 10px;' method='POST' action="{{ url_for('profile_data') }}"> <!--PROFILE SETTINGS FORM-->
  <p style='font-size: large; display: inline;'>Your gender:</p> <!--GENDER BLOCK-->
  
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="man" value='m' name="gender" required>
    <label class="custom-control-label" for="man">MAN</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="woman" value="w" name="gender" required>
    <label class="custom-control-label" for="woman">WOMAN</label>
  </div>
  <div class='form-label-group'>
  <p style='font-size: large; display: inline;'>Your birthdate:</p> <!--AGE BLOCK -->
    <input type='date' name='birth' id='calendar' onblur='check_birth()' value="{{ g.user.birth }}" required>
    <div id='calendar_checker' style='display: none;'><p style='color: red'><b>You must be between 18 and 100</b></p>;</div>
  </div>
  <div class='form-label-group'> <!--ORIENTAION BLOCK-->
    <p style='font-size: large; display: inline;'>Looking for:</p>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="hetero" value='hetero' name="orient">
      <label class="custom-control-label" for="hetero">Hetero</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="homo" value="homo" name="orient">
      <label class="custom-control-label" for="homo">Homo</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="bi" value="bi" name="orient">
      <label class="custom-control-label" for="bi">Doesn`t matter</label>
    </div>
  </div>
  <div class='form-label-group'> <!--BIO-->
    <p style='font-size: large; display: inline;'>Tell us about yourself:<br></p>
    <textarea name='bio'>{% if g.user.bio %}{{ g.user.bio }}{% endif %}</textarea>
  </div>
  <button type="submit" id="submit_profile">Save</button>
</form>
  <div id="photo_block">
    {% if photos %}
    <div class="album py-5 bg-light" style='display: inline;'> <!--Вставка!-->
      <div class="container">
        <div class="row">
      {% for i in photos %}
        <div class="col-md-2" name="photo_in_profile" id ="{{ i }}">
          <div class="card mb-4 shadow-sm">
            <div class="img"><img id="{{ 'img' ~ i }}" src=" {{ url_for('static', filename='photos') ~ '/' ~ i }}"class="img-fluid" alt="Responsive image"></div>
              {% if i != 'default.jpg' %}
                <div class="btn-group">
                  <button type="button" name="{{ i }}" onclick="delete_photo(this)" class="btn btn-sm btn-outline-secondary">delete</button>
                </div>
              {% endif %}
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
    {% endif %}
  </div>
        <form action="{{ url_for('profile_data') }}" id="upload_form" method="POST" enctype='multipart/form-data'><!--FILE UPLOAD FORM-->
          <input type="file" name='file'> <!--PHOTO--> <!--Добавить errorhandler-->
          <label>16 mb max, only jpeg, png, bmp</label>
          <button id='add_photo' name='push'>Add photo</button>
        </form>
      <div id="tags_block" style='background-color: lightslategray;'> <!--DEFAULT TAGS-->
        {% if tags %}
          {% for i in tags %}
            <a href="{{ url_for('add_tag', tag_id=i) }}"><p style='display: inline; padding: 5px; color: orange;'>#{{ i }}</p></a>
          {% endfor %}
        {% endif %}
      </div>
      <div id='user_tags'> <!--USER TAGS-->
        <h6>Your tags</h6>
        {% if user_tags %}
          {% for i in user_tags %}
            <a href="{{ url_for('delete_tag', tag_id=i) }}"><p style='display: inline; padding: 5px; color: green;'>#{{ i }}</p></a>
          {% endfor %}
        {% endif %}
      </div>
      <div id='choose_location'> <!--CHOOSE LOCATION-->
        Your city:
        <form method="POST" onsubmit="geo_changer()" id="location_form" action="{{ url_for('set_location') }}">
          <input type='text' name=city id=city value="{{ city }}" disabled></br>
          {% if g.user.manually == 1 %}
            <input type="checkbox" id="location_check" onchange="change_location(this)" name="location" value="auto" checked>Manually
          {% else %}
            <input type="checkbox" id="location_check" onchange="change_location(this)" name="location" value="auto">Manually
          {% endif %}
          <button type="submit">OK</button>
        </form>

      </div>
  </div>
  <div id="history_block" style="text-align: center; display: inline;">
      <div style="text-align: center; background-color: yellow; position: absolute; width: 40%; margin-left: 10%;">
        <p style="font-size: xx-large;">You was visited by:</p>
        <div id="visit_block"></div>
      </div>
      <div style="text-align: center; background-color: pink; position: absolute; width: 40%; margin-left: 50%;">
        <p style="font-size: xx-large;">You was liked by:</p>
        <div id='like_block'></div>
      </div>
  </div>
<script>
  function geo_changer(){
    if (!document.getElementById("location_check").checked){
      document.cookie = "already=not_yet"
    }
    document.getElementById("location_form").submit()
    return true;
  }

  function change_location(event) {
    if (event.checked) {
      document.getElementById("city").disabled = false
    } else {
      document.getElementById("city").disabled = true;
    }
  }

  document.getElementById("profile_info").onsubmit = function(event){
    check_birth()
    if (document.getElementById("calendar_checker").style.display != "none"){
      event.preventDefault();
      return false;
    }
  }
  // window.onload = function max_5(){
    if (document.getElementById("location_check").checked){
      document.getElementById("city").disabled = false;
    } else {
      document.getElementById("city").disabled = true;
    }
    var gender = document.getElementById("hidden_gender").value
    var orient = document.getElementById('hidden_orient').value
    if (gender == "m"){
      document.getElementById("man").checked = true;
    }
    if (gender == "w"){
      document.getElementById("woman").checked = true;
    }
    switch(orient){
      case 'hetero':
        document.getElementById("hetero").checked = true;
        break
      case 'homo':
        document.getElementById("homo").checked = true;
        break
      default: 
        document.getElementById('bi').checked = true;
    }
    if (document.getElementsByName('photo_in_profile').length >=5){
      document.getElementById("upload_form").style.display = "none"
    }
  //}


  function delete_photo(event){
    var name = event.name
    $.ajax({
      type: "POST",
      url: "{{ url_for('delete_photo') }}",
      dataType: "text",
      data: {'delete': name},
      success: function (data) {
        if (data == "ok"){
          document.getElementById(name).remove()
          if (document.getElementsByName('photo_in_profile').length < 5){
            document.getElementById('upload_form').style.display = "block"
          }
        }
        if (data == "empty"){
          document.getElementById('img' + name).src = "{{ url_for('static', filename='photos/default.jpg') }}"
          document.getElementById(name).id = 'default.jpg'
          event.remove()
        }
      }
    });
  }
    function check_birth(){
            var current = Date.now()
            var u_date = Date.parse(document.getElementById('calendar').value)
            let res = (current - u_date)/ 31556952000
            if (res >= 18 && res <= 100){
              document.getElementById('calendar_checker').style.display = "none"
            } else {
              document.getElementById('calendar_checker').style.display = "block"
            }
        }
    function  ajax_check(event) {
      if (document.getElementById(event.id).value == ''){
            document.getElementById(event.id).className = 'form-control'
            document.getElementById('d' + event.id).style.display = 'none'
            before_request_check()
            return
      }     
      $.ajax({
        type: 'POST',
        url: "{{ url_for('login') }}",
        data: {
          element: event.id,
          content: document.getElementById(event.id).value,
        },
        dataType: "text",
        success: function (data) {
          if (data == 'ok'){
            document.getElementById(event.id).className = 'form-control is-valid'
            document.getElementById('d' + event.id).style.display = 'none'
            before_request_check()
          } else {
            new_data = JSON.parse(data)
            let str = '';
            new_data.forEach(function(item, i){
              str += '<li>' + item + '</li>'
            });
            document.getElementById('d' + event.id).style.display = 'block'
            document.getElementById('d' + event.id).className = "invalid-feedback"
            document.getElementById('d' + event.id).innerHTML = str
            document.getElementById(event.id).className = 'form-control is-invalid'
            before_request_check()
          }
        }});
    }

    function before_request_check() {
      var elem = document.getElementById('account_info')
      if (elem.getElementsByClassName('form-control is-valid').length > 0 && elem.getElementsByClassName('form-control is-invalid').length == 0){
        if (document.getElementById('inputPassword1').value == document.getElementById('inputPassword2').value){
          document.getElementById('update_start').disabled=''
        } else {
            document.getElementById('dinputPassword2').style.display = 'block'
            document.getElementById('dinputPassword2').className = "invalid-feedback"
            document.getElementById('dinputPassword2').innerHTML = 'Password must be ident'
            document.getElementById('inputPassword2').className = 'form-control is-invalid'
            document.getElementById('update_start').disabled='disabled'
        }
      } else{document.getElementById('update_start').disabled='disabled'}
    }


  function  show_account_info(){
    document.getElementById("account_settings_block").style.display = "block";
    document.getElementById("profile_settings_form").style.display = "none";
    }
  function show_profile_info(){
    document.getElementById("account_settings_block").style.display = "none";
    document.getElementById("profile_settings_form").style.display = "block";
  }
  function show_ajax_history(){
    document.getElementById("account_settings_block").style.display = "none";
    document.getElementById("profile_settings_form").style.display = "none";
    $.ajax({
      url: "{{ url_for('show_history') }}",
      method: "POST",
      success: function(data){
        if (data != "error"){
          resp = JSON.parse(data);
          i = 0;
          document.getElementById("visit_block").innerHTML=""
          if (resp[0] == "Nothing =("){
            document.getElementById("visit_block").innerHTML="<p style='font-size: large;'>" + resp[0] + "</p>"
          } else {
          while (i<resp[0].length){
            document.getElementById("visit_block").innerHTML += "<a style='display: block;' href='" + resp[0][i][0] +  "'>" + resp[0][i][1] + "</a>"; 
            i +=1;
          } i=0;}
          document.getElementById("like_block").innerHTML=""
          if (resp[1] == "Nothing =("){
            document.getElementById("like_block").innerHTML="<p style='font-size: large;'>" + resp[1] + "</p>"
          } else {
          while (i<resp[1].length){
            document.getElementById("like_block").innerHTML += "<a style='display: block;' href='" + resp[1][i][0] +  "'>" + resp[1][i][1] + "</a>"; 
            i +=1;
          }
          }
        }
      }
    });
  }
</script>



{% endblock %}