{% extends 'base.html' %}

{% block content %}
    <div style="text-align: center;">
        <p style="font-size: xx-large;"><strong>{{ user.username }}</strong></p>{% if online != "online" %}<p style="font-size: large; color: grey; display: inline;">{{ online }}</p>
                                                                                {% else %}<p style="font-size: x-large; color: green; display: inline;">{{ online }} </p> {% endif %}
    </div>
{% if photos %}
    <div class="album py-5 bg-light" style='display: inline;'> <!--Вставка!-->
        <div class="container">
          <div class="row">
        {% for photo in photos %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="img"><img src="{{ url_for('static', filename='photos') ~ '/' ~ photo }}" class="img-fluid" alt="Responsive image"></div>
            </div>
          </div>
        {% endfor %}
        </div>
        </div>
        </div>
    {% else %}
        <div class="img"><img src="{{ url_for('static', filename='photos') ~ '/' ~ user.photo }}" class="img-fluid" alt="Responsive image"></div>
{% endif %}
    <div style="text-align: center;">
        <h2 style="display: inline;">{{ user.first_name}} {{ user.second_name }}</h2><p style="font-size: x-large; display: inline;">  {{ user.age }}, {% if user.gender == "m" %}
        мужчина {% else %} женщина {% endif %}</p>
        <p style="font-style: italic; font-size: x-large;">{{ user.fame }} fame rate</p>
        <h3>Description:</h3><p style="font-size: large;">{{ user.bio }}</p>
    <div style="background-color: darkgoldenrod;">
        {% for i in tags %}
            <p style="color: blue; font-size: x-large; display: inline;">#{{ i }} </p>
        {% endfor %}
    </div>
    {% if g.user.photo != "default.jpg" and user.photo != "default.jpg" %}
        {% if dislike == "dislike" %}
            <button type="button" id='dislike' onclick="like_manager(this)" style="width: 200px;" class="btn btn-secondary btn-lg">Dislike</button>
        {% else %}
            <button type="button" id='like' onclick="like_manager(this)" style="width: 200px;" class="btn btn-primary btn-lg">Like</button>
        {% endif %}
    {% endif %}
                <div class="btn-group" style="padding-left: 50px;">
                    <button type="button" id='report' onclick="report_as_fake()" class="btn btn-secondary btn-sm">Report as fake</button>
                {% if blacklist %}
                    <button type="button" id='delete_blacklist' onclick="blacklist_manager(this)" class="btn btn-primary btn-sm">Delete from blacklist</button>
                {% else %}
                    <button type="button" id='add_blacklist' onclick="blacklist_manager(this)" class="btn btn-secondary btn-sm">Add to blacklist</button>
                {% endif %}
                </div>
                <p id="report_response" style="background-color: green; font-size: large;"></p>
    </div>
    <div id='chat'>
{% if match %}
    <div class='chat_box' id='chat_box' style=" width: 400px; background-color: lightcyan;">
        {% for i in msg %}
            {{ i|safe }}
        {% endfor %}
    </div>
    <input type="text" id='msg' name='msg'><button type="button" id='send'>Send</button>
{% endif %}
    </div>
{% endblock %}


{% block script %}
<script>

    function like_manager(event){
        $.ajax({
            url: "{{ url_for('like_manager') }}",
            method: "POST",
            data: {
                like: event.id,
                whom: "{{ user.id }}",
            },
            success: function(data){
                if (data == "show_chat"){
                    location.reload();
                }
                if (data == "show_dislike"){
                    document.getElementById(event.id).className = "btn btn-secondary btn-lg";
                    document.getElementById(event.id).innerHTML = "dislike"
                    document.getElementById(event.id).id = "dislike"
                } else {
                    document.getElementById(event.id).className = "btn btn-primary btn-lg";
                    document.getElementById(event.id).innerHTML = "like"
                    document.getElementById(event.id).id = "like"
                }
            }
        });
    }

    function blacklist_manager(event){
        $.ajax({
            url: "{{ url_for('blacklist_manager') }}",
            method: "POST",
            data: {
                blacklist: event.id,
                whom: "{{ user.id }}",
            },
            success: function(data){
                if (data == "show_add"){
                    document.getElementById(event.id).className = "btn btn-secondary btn-sm";
                    document.getElementById(event.id).innerHTML = "Add to blacklist"
                    document.getElementById(event.id).id = "add_blacklist"
                } else {
                    document.getElementById(event.id).className = "btn btn-primary btn-sm";
                    document.getElementById(event.id).innerHTML = "Delete from blacklist"
                    document.getElementById(event.id).id = "delete_blacklist"
                }
            }
        });
    }

    function report_as_fake(){
        $.ajax({
            url: "{{ url_for('report_as_fake') }}",
            type: "POST",
            data: "whom=" + "{{ user.id }}",
            success: function(data){
                document.getElementById("report_response").innerText = "We will check this user as soon, as possible"
            }

        })
    }

    $(document).ready(function() {
    var socket = io.connect('http://' + document.domain + ':' + location.port + "/chat")
    $("#send").on('click', function(){
        socket.send(["{{user.id}}", escape(document.getElementById('msg').value), "{{ g.user.id }}"]);
        $('#msg').val('')
    })
    var new_socket = io.connect('http://' + document.domain + ':' + location.port + "/" + "{{ g.user.id }}" + "_" + "{{ user.id }}")
    console.log("/" + "{{ g.user.id }}" + "_" + "{{ user.id }}")
    new_socket.on('message', function(msg){
        console.log("MSG")
        msg = JSON.parse(msg)
        if (msg[0] == "{{ user.id }}"){
            document.getElementById("chat_box").innerHTML += "<p style='text-align: right; color: blue; font-size: large;'>" + msg[1] +  "</p>"
        } else {
            document.getElementById("chat_box").innerHTML += "<p style='text-align: left; color: green; font-size: large;'>" + msg[1] +  "</p>"
        }
    });

});
</script>

{% endblock %}